/* Effective stylesheet produced by snapshot save */
.markdown code { padding: 5px; background-color: rgb(204, 204, 204); border: 1px solid rgb(99, 99, 99); margin-bottom: 10px; margin-top: 10px; }
.markdown p { margin-bottom: 20px; }
