/* Effective stylesheet produced by snapshot save */
#ez-fat-footer-container .ez-widget-area .textwidget { padding-bottom: 20px; }
#wrap { margin: 0px auto; }
#text-21 { box-shadow: 0px 0px 0px 0px ! important; }
#content .post h1, #content .post h2, #content .post h3, #content .post h4, #content .post h5, #content .post h6, #content .page h1, #content .page h2, #content .page h3, #content .page h4, #content .page h5, #content .page h6, #content h1.entry-title, #content .entry-content h1, #content h2.entry-title, #content .entry-content h2, #content .entry-content h3, #content .entry-content h4, #content .entry-content h5, #content .entry-content h6 { font-family: raleway; font-weight: 500; }
#sidebar .widget { box-shadow: 1px 1px 1px 1px rgb(191, 191, 191); }
#nav .menu-primary { width: auto; clear: both; margin: 0px auto; padding-right: 0px; display: inline-block; }
#content .post h1 { font-weight: 900; }
#content .post h2 { font-weight: 500; }
.sidebar.widget-area .widget p { margin: 5px 10px; }
.content-sidebar .menu-primary { width: 995px; }
#sidebar #text-14 { box-shadow: none; border: medium none; }
#simple-social-icons-3 ul li { margin: 0px 2px 0px 0px ! important; }
#sidebar, #sidebar-alt, #ez-home-sidebar { color: rgb(51, 51, 51); font-family: Arial,sans-serif; font-size: 14px; text-align: center; }
#sidebar h4, #sidebar-alt h4, #ez-home-sidebar h4 { background: rgb(110, 180, 63) none repeat scroll 0% 0%; padding: 15px; color: rgb(255, 255, 255); font-family: raleway; font-size: 20px; font-weight: 500; line-height: 1.25; }
#sidebar .widget { box-shadow: 0px 0px 1px 1px rgb(110, 180, 63); text-align: center; border: 0px none; margin: 0px 0px 25px; }
#content .post, #content .entry { margin: 0px 0px 40px; padding: 0px 5px; }
#search-4 { display: inline-block; float: right; }
.searchsubmit { background: rgb(111, 185, 64) none repeat scroll 0% 0%; border: 1px solid rgb(221, 221, 221); margin: 0px; padding: 5px 7px; color: rgb(255, 255, 255); font-family: Arial,sans-serif; font-size: 14px; line-height: 19px; cursor: pointer; text-decoration: none; }
input { line-height: normal; margin: 5px 0px; font-size: 16px; color: rgb(34, 34, 34); width: auto; }
#subbutton { background: rgb(34, 120, 196) none repeat scroll 0% 0%; border: 0px solid rgb(221, 221, 221); margin: 10px; padding: 10px; color: rgb(255, 255, 255); font-family: raleway; font-size: 22px; line-height: 26px; cursor: pointer; text-decoration: none; }
.enews #subbox { margin: 5px 0px; padding: 7px; width: auto; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); }
.enews p { padding: 5px 20px; font-size: 15px; color: rgb(34, 34, 34); }
#subbutton:hover { background: rgb(25, 89, 145) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
#nav { text-align: center; }
