/* Effective stylesheet produced by snapshot save */
body { background: rgb(249, 250, 252) url("dobbs_background.jpg") repeat-x scroll left top; font-family: Arial,Helvetica,Verdana,sans-serif; }
a { color: rgb(0, 59, 176); text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: 0px none; }
#container { margin: 0px auto; width: 999px; }
#topAdContainer { height: 0px; overflow: hidden; }
#leaderboard1, #leaderboard2 { text-align: center; }
#leaderboard2 { background-color: rgb(249, 250, 252); border-bottom: 1px solid rgb(208, 208, 208); padding: 11px 0px; }
code { font-size: 1.3em; }
#columns { background-color: rgb(249, 250, 252); padding: 0px; }
#left-col, #content, #right-col { float: left; }
#left-col { margin-right: 11px; width: 229px; }
#left-col div .more, #content .articles, #content .events, #content .best, #content .ad, #content .downloadable-product .table-of-contents, #right-col .ad, #right-col .more, #right-col .box, #container #right-col .recent-articles ul, .flat, #right-col .shopping-cart, #right-col .digital-issues, #right-col .whitepapers, #container #right-col .yellow ul, #right-col .sponsored-content { margin-bottom: 30px; }
#right-col, #content, #left-col { padding-top: 6px; }
#content, #content .best { width: 392px; }
#content h1, #content h2, #content h3 { margin: 0px; }
#content h1 { font-size: 1.1em; }
#content p { clear: both; font-size: 0.8em; }
#content .articles h1, #content .brandividual h1 {  }
#content .articles { border-bottom: 1px solid rgb(123, 180, 91); }
#content .articles h2 { color: rgb(62, 175, 50); font-size: 1.5em; font-weight: normal; padding-bottom: 5px; text-transform: uppercase; }
#content .articles h3 { font-size: 0.9em; margin-top: 15px; }
#content .articles h4 { font-size: 0.8em; margin-bottom: 5px; }
#content .lead-article p, #content .articles p {  }
#content .archive, #content .bio { border-bottom: medium none; }
#content .articles ul { font-size: 0.8em; margin: 0px; padding-left: 1px; }
#content .articles li { margin: 0px; padding-left: 15px; list-style-position: inside; }
#content .story table { font-size: 0.8em; }
#article-header { margin-right: 0px; }
.share-index { display: inline-block; width: 440px; }
.share-facebook-likes { display: inline; width: 75px; position: relative; }
.share-tweet { display: inline; width: 60px; position: relative; }
.addthis_permalink { float: left; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 0.6em; font-weight: bold; margin-left: 6px; }
#right-col { margin-left: 18px; width: 335px; }
#right-col ul { color: rgb(33, 82, 190); font-size: 0.8em; list-style: outside none none; margin-top: 0px; padding: 8px 0px 0px 18px; }
#right-col .subsection { font-size: 1.2em; }
#right-col div.tab_controls { border-right: 1px solid rgb(95, 149, 60); border-bottom: 1px solid rgb(95, 149, 60); border-left: 1px solid rgb(95, 149, 60); margin: -19px 0px 0px; height: 26px; }
#right-col div.tab_controls a { display: block; padding: 6px 10px 4px; float: left; text-align: center; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(95, 149, 60) rgb(95, 149, 60); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 0.7em; font-weight: bold; margin-left: -1px; height: 16px ! important; }
#right-col div.tab_controls a.current { color: rgb(255, 255, 255); background: transparent url("bg_tab.gif") no-repeat scroll center bottom; border: 0px none; padding: 6px 10px 15px; margin-bottom: -10px; margin-left: 0px; }
.box h3.video { background: rgb(242, 242, 242) url("h3_video.jpg") no-repeat scroll left bottom; }
.video a:hover img { border-color: rgb(15, 70, 146); }
.mostpopular .box_wrap, .mostrecent .box_wrap { border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(95, 149, 60) rgb(95, 149, 60); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-top: -10px; padding-top: 20px; width: 323px; }
#right-col h2 { background: transparent url("h2_right-col.gif") no-repeat scroll left top; font: bold 16px arial,helvetica,clean,sans-serif; color: rgb(255, 255, 255); padding: 7px 10px 10px; }
#right-col ul { padding: 0px 5px 5px 0px; }
#right-col li { padding-left: 15px; background: transparent url("bg_left-nav.png") no-repeat scroll 5px 7px; color: rgb(0, 59, 176); margin: 0px; }
#right-col div.whitepaper { margin: 0px 0px 15px; clear: both; }
#right-col div.whitepaper p { margin: 0px 0px 10px; }
div#container div#right-col div.subsection { margin: 10px 0px 30px; position: relative; }
div#container div#right-col div.slide_controls { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(223, 223, 223) rgb(223, 223, 223); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 5px; position: relative; height: 19px; overflow: hidden; clear: both; margin: 0px; }
div#container div#right-col .slide_controls a { font-size: 0.7em; font-weight: normal; }
